* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', 'Lucida Sans', 'Lucida Grande', sans-serif;
  word-wrap: break-word;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.contenedor_general {
  width: 100%;
  height: 100%;
}

header {
  width: 100%;
  height: 15%;
  background-color: #44af69;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header form {
  width: 55%;
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header form .campo_texto {
  text-align: center;
  font-size: 18px;
  width: 60%;
  height: 90%;
  border: 1px solid #44af69;
  border-radius: 05px;
  padding: 0 03px;
  color: #352f2f;
}

header form .btn_principal {
  font-size: 16px;
  height: 90%;
  width: 25%;
  border-radius: 05px;
  border: 1px solid #44af69;
  font-weight: 500;
  color: #f1f1f1;
  background: #fcab10;
  -webkit-transition: all ease 0.23s;
  transition: all ease 0.23s;
}

header form .btn_principal:hover {
  cursor: pointer;
  -webkit-transition: all ease 0.23s;
  transition: all ease 0.23s;
  color: #212121;
  border: 1px solid #f1f1f1;
  text-decoration: underline;
}

header .btn_secundario {
  text-decoration: none;
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 1px;
  color: #e2e2e2;
  -webkit-transition: all ease 0.25s;
  transition: all ease 0.25s;
}

header .btn_secundario:hover {
  -webkit-transition: all ease 0.25s;
  transition: all ease 0.25s;
  text-decoration: underline;
}

header .corte_caja {
  position: absolute;
  width: 50%;
  height: 33%;
  top: 30%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border: 1px solid rgba(0, 0, 0, 0.329);
  border-radius: 5px;
}

header .corte_caja header {
  height: 25%;
  width: 100%;
}

header .corte_caja header p {
  font-size: 1.8em;
  letter-spacing: 1px;
  font-weight: 500;
  color: #f1f1f1;
}

header .corte_caja form {
  width: 100%;
  height: 75%;
  display: block;
}

header .corte_caja form main {
  height: 70%;
  width: 100%;
  padding: 0%;
  overflow: hidden;
  background: #f1f1f1;
}

header .corte_caja form main .caja {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
          box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

header .corte_caja form main .caja label {
  margin-right: 1em;
  width: 35%;
  font-weight: 500;
  letter-spacing: 1px;
  color: #352f2f;
}

header .corte_caja form main .caja input {
  font-weight: 600;
  width: 50%;
  height: 70%;
  font-size: 1em;
  text-align: center;
  border: none;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

header .corte_caja form main .caja #date_inicio {
  color: #44af69;
}

header .corte_caja form main .caja #date_fin {
  color: #f8333c;
}

header .corte_caja form footer {
  height: 30%;
  width: 100%;
}

header .corte_caja form footer input {
  -webkit-transition: ease all 0.25s;
  transition: ease all 0.25s;
  cursor: pointer;
}

header .corte_caja form footer input:hover {
  -webkit-transition: ease all 0.25s;
  transition: ease all 0.25s;
}

header .corte_caja form footer .btn_secundario {
  width: 30%;
  height: 90%;
  border: 2px solid #f8333c;
  color: #f8333c;
  font-weight: 600;
  border-radius: 05px;
}

header .corte_caja form footer .btn_secundario:hover {
  text-decoration: underline;
  color: #f1f1f1;
  background: #f8333c;
}

header .corte_caja form footer .btn_primario {
  border-radius: 05px;
  font-weight: 600;
  height: 90%;
  width: 30%;
  background: #44af69;
  color: #f1f1f1;
  border: none;
  font-size: 1.2em;
}

header .corte_caja form footer .btn_primario:hover {
  text-decoration: underline;
  color: #44af69;
  background: #f1f1f1;
}

.oculta {
  -webkit-transition: all ease 0.55s;
  transition: all ease 0.55s;
  -webkit-transform: translate(200%, 0%);
          transform: translate(200%, 0%);
}

.corte_caja {
  -webkit-transition: all ease 0.55s;
  transition: all ease 0.55s;
}

main {
  width: 100%;
  height: 75%;
  background-color: #f1f1f1;
  overflow-y: auto;
}

main table {
  width: 100%;
  border-collapse: collapse;
  background-color: #f1f1f1;
}

main table tr {
  border: 4px solid #f1f1f1;
  text-align: center;
  height: 3em;
  position: relative;
}

main table tr th {
  background: #f1f1f1;
  color: #352f2f;
  font-size: 2em;
  border-bottom: 4px solid #fcab10;
}

main table tr td {
  color: #352f2f;
  font-weight: 600;
  background: #e2e2e2;
}

main table tr:nth-child(even) td {
  background: #f1f1f1;
}

footer {
  width: 100%;
  height: 10%;
  background: #352f2f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer p {
  font-weight: 600;
}

footer .fechas {
  font-size: 1.5em;
  color: #fcab10;
}

footer .total {
  font-size: 1.5em;
  color: #44af69;
}
/*# sourceMappingURL=estilosGenerales.css.map */