header {
	z-index: 4;
	height: 0%;
	width: 100%;
	position: relative;
	right: 3%;
	// top: 2px;

	.comanda_icono {
		background-image: url('../Assets/svg/food_plate.svg');
		background-repeat: no-repeat;
		background-position: center;
		background-color: $color_verde;
		border-radius: 0px 0 50px 50px;
		box-shadow: 2px 0px 18px -5px rgba(0, 0, 0, 0.863);
		position: absolute;
		right: 05%;
		transition: ease all 0.6s;
		height: 50px;
		width: 100px;
		&:hover {
			background-color: $color_amarillo;
			cursor: pointer;
		}
	}
	.comanda_sin_platillos {
		transform: translateY(-100%);
		transition: cubic-bezier(0.075, 0.82, 0.165, 1) all 1s;
	}
	.contenedor_comanda {
		position: absolute;
		width: 250px;
		height: 450px;
		right: 0%;
		top: 0;
		border-radius: 08px 08px 0 0;
		border: 3px solid $color_amarillo; // TODO: linea a borrar
		border-bottom: 3px solid $color_verde;
		// border: 2px solid #636363cc; // TODO: linea a borrar
		transition: ease all 0.6s;
		.titulo_principal {
			text-align: center;
			font-size: 18px;
			font-weight: 500;
			color: #181818;
			background: $color_amarillo;
			width: 100%;
			height: 7%;
			border-bottom: 3px solid #636363cc;
		}
		.total_comanda {
			position: absolute;
			bottom: 0;
			width: 100%;
			height: 7%;
			background: $color_verde;
			font-weight: 600;
			text-align: center;
			color: $color_blanco;

			#costo_total_comanda {
				letter-spacing: 0.5px;
			}
		}
		.lista_comandas {
			text-align: center;
			overflow: auto;
			background-color: $color_blanco;
			display: flex;
			align-items: center;
			flex-direction: column;
			width: 100%;
			height: 93%;

			.contenido_comanda_platillo {
				box-shadow: -2px 2px 5px 1px #b8b8b8;
				display: flex;
				flex-direction: column;
				align-items: center;
				height: 25%;
				width: 95%;
				margin: 5px 0;
				border-radius: 10px;

				.titulo_comanda {
					width: 100%;
					height: 30%;
					font-size: 18px;
					font-weight: 600;
					color: $color_cafe;
					letter-spacing: 0.5px;
					overflow: auto;
					position: relative;
					border-bottom: 3px solid #63636336;

					.cerrar_comanda {
						width: 24px;
						top: 0;
						right: 0;
						position: absolute;
						border: none;
						color: $color_cafe;
						font-size: 16px;
						font-weight: 500;
						border-radius: 50%;
						transition: ease all 0.7s;
						&:hover {
							cursor: pointer;
							background: $color_rojo;
							color: $color_blanco;
							transition: ease all 0.7s;
						}
					}
				}
				.ingredientes_comanda {
					width: 100%;
					height: 70%;
					overflow-y: auto;

					.item {
						font-weight: 400;
						color: $color_azul;
					}
					.color_rojo {
						color: $color_rojo;
					}
				}
			}
		}
	}

	.bajar_icono_comanda {
		transition: ease all 0.6s;
		transform: translateY(450px) rotate(180deg);
		border-radius: 50px 50px 0 0;
		background-color: $color_amarillo;
	}
	.bajar_comanda {
		transition: ease all 0.6s;
		transform: translateY(-100%);
	}
}

.animacion_orden_anadido {
	animation: animacion_burbuja 1s ease 0s normal none;
	position: absolute;
	top: -10%;
	background-color: $color_blanco;
	width: 145px;
	height: 100px;
	box-shadow: 0px 0px 18px -5px $color_negro;
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 3px solid $color_blanco;
	z-index: 5;
	p{
		position: absolute;
		bottom: 80%;
		font-weight: 500;
		letter-spacing: .5px;
	}
	img {
		z-index: 5;
		filter: drop-shadow(0 0 1px $color_cafe);
	}
	.costados {
		height: 60px;
		width: 14px;
		animation: animacion_centro 1.5s ease 0s normal none;
	}
	.centro {
		width: 80px;
		animation: animacion_centro 1.2s ease 0s normal none;
		
	}
	.triangulo{
		position: absolute;
		z-index: 4;
		border-bottom: 1px solid #1818183d;
		border-right: 1px solid  #1818186b;
		width:  30px;
		height: 30px;
		background: $color_blanco;
		bottom: -18px;
		transform: rotate(45deg);
	}
	
}

@keyframes animacion_burbuja {
	0.0% {
		transform: translate(0, 100px);
		opacity: 0;
	}
	100% {
		opacity: 1;
		transform: translate(0px, 0px);
	}
}

@keyframes animacion_centro {
	0.0% {
		transform: translate(0, 100px);
		opacity: 0;
	}
	100% {
		opacity: 1;
		transform: translate(0px, 0px);
	}
}
