header {
	z-index: 2;
	height: 0%;
	width: 100%;
	position: relative;
	right: 3%;
	// top: 2px;
	.comanda {
		background-image: url('../Assets/svg/food_plate.svg');
		background-repeat: no-repeat;
		background-position: center;
        background-color: $color_verde;
		border-radius: 0px 0 50px 50px;
		box-shadow: 2px 0px 18px -5px rgba(0, 0, 0, 0.863);
		position: absolute;
        right: 0%;
		transition: ease all 0.15s;
		height: 50px;
        width: 100px;
		&:hover {
			background-color: $color_amarillo;
			cursor: pointer;
			transition: ease all 0.15s;
		}
	}
}
