.main_contenedor_padre {
	// z-index: 1;

	position: relative;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	// height: 100%;
	.contenedor_titulo {
		text-align: center;
		font-size: 42px;
		position: relative;
		h1 {
			color: $color_cafe;
			font-weight: 200;
		}
		&::after {
			content: '';
			width: 300%;
			height: 2px;
			position: absolute;
			bottom: 0;
			left: -100%;
			background: $color_cafe;
		}
	}
	.contenedor_platillos {
		// height: 100%;
		// width: 100%;
		overflow: auto;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		flex-direction: row;
		box-sizing: border-box;

		.tarjeta_platillo_vista_previa {
			width: 16em;
			height: 22em;
			margin: 0.8em;
			background: $color_blanco;
			box-shadow: 0px 0px 18px -5px $color_negro;
			border-radius: 12px;
			.contenedor_titulo_platillo {
				height: 10%;
				width: 100%;
				text-align: center;
				font-weight: 500;
			}
			.contenedor_foto_platillo {
				height: 50%;
				width: 100%;
				img {
					height: 100%;
					width: 100%;
				}
			}
			.contenedor_precio_botones {
				height: 40%;
				width: 100%;

				.precio {
					text-align: center;
					font-weight: 600;
					font-size: 1.45em;
					color: $color_azul;
				}
			}
		}
	}
}
.alto_33 {
	height: 33%;
}

.boton_platillo {
	width: 100%;
	border: none;
	cursor: pointer;
	transition: ease all 0.4s;
	font-size: 1em;
	&:hover {
		text-decoration: underline;
		transition: ease all 0.4s;
	}
}

.boton_secundario {
	border-top: 2px solid $color_verde;
	border-bottom: 2px solid $color_verde;
}

.boton_primario {
	font-weight: 500;
	color: $color_cafe;
	background: $color_amarillo;
	border-radius: 0 0 12px 12px;
}




.hover_verde {
	cursor: pointer;
	transition: ease all 0.4s;
	&:hover {
		transition: ease all 0.4s;
		color: $color_blanco;
		background: $color_verde;
	}
}

.hover_azul {
	cursor: pointer;
	transition: ease all 0.4s;
	&:hover {
		transition: ease all 0.4s;
		color: $color_blanco;
		background: $color_azul;
	}
}

.hover_rojo {
	background: #000;
	cursor: pointer;
	transition: ease all 0.4s;
	&:hover {
		background: #000;
		color: $color_blanco;
		background: $color_rojo;
	}
}

.hover_amarillo {
	cursor: pointer;
	transition: ease all 0.4s;
	&:hover {
		color: $color_blanco;
		background: $color_amarillo;
	}
}

