@mixin tamanos_responsivos($maxwid, $maxhei, $wid, $hei, $minwid, $minhei) {
	max-width: $maxwid;
	max-height: $maxhei;

	width: $wid;
	height: $hei;

	min-width: $minwid;
	min-height: $minhei;
}

.mas_informacion_platillo {
	transition: ease 0.85s all;
	z-index: 3;
	background: $color_blanco;
	box-shadow: -1px -1px 18px -5px rgba(0, 0, 0, 0.555);
	display: flex;
	flex-direction: row;
	position: absolute;

	@include tamanos_responsivos(90vw, 90vh, 90vw, 90vh, 90vw, 90vh);

	top: 05%;
	left: 5%;

	.foto_comida {
		width: 50%;
		height: 100%;
		box-shadow: 0px 0px 18px -3px rgba(61, 39, 14, 0.596);
		img {
			border-radius: 5px;
			width: 100%;
			height: 100%;
		}
	}
	.contenedor_informacion_precio_botones {
		width: 50%;
		height: 100%;
		position: relative;
		overflow: hidden;
		.cerrar {
			background: $color_blanco;
			border: 2px solid $color_rojo;
			border-radius: 0px 0px 0px 12px;
			color: $color_cafe;
			font-size: 2vmax;

			@include tamanos_responsivos(
				4vmax,
				4vmax,
				4vmax,
				4vmax,
				2.5vmin,
				2.5vmin
			);

			position: absolute;
			right: 0;

			z-index: 3;
			cursor: pointer;
			transition: ease all 0.4s;
			&:hover {
				background: $color_rojo;
			}
		}

		.titulo {
			font-weight: 700;
			text-align: center;
			color: $color_cafe;
			margin-bottom: 2px;
		}

		.nombre_platillo {
			padding: 0.25em 1.5em;
			font-weight: 700;
			// font-size: 2em;
			font-size: 2.5vmax;
			position: relative;
			&::before {
				position: absolute;
				content: '';
				background: $color_negro;
				width: 50%;
				height: 2px;
				bottom: 0;
				left: 25%;
			}
		}

		.precio_botonOrden {
			width: 100%;
			height: 10%;
			display: flex;
			flex-direction: row;
			align-items: center;
			padding: 0 2.2em;
			justify-content: space-between;
			.realizar-orden {
				width: 13vw;
				height: 90%;
				// @include tamanos_responsivos(5vmax, 3vmax, 10vw, 3vh, 2.5vmin, 3vmin);
					border-radius: 0;
				border-radius: 6px;
				background: $color_amarillo;
				cursor: pointer;
				font-size: 1em;
				font-weight: 500;
				color: $color_cafe;
				border: none;

				&:hover {
					text-decoration: underline;
				}
			}
			.precio {
				color: $color_azul;
				font-weight: 600;
				font-size: 1.5em;
			}
		}

		.contenedor_todos_ingredientes {
			display: flex;
			flex-direction: row;
			width: 100%;
			height: 50%;
			text-align: center;
			font-size: 18px;
			.ingredientes {
				color: $color_azul;
				overflow: auto;
				width: 50%;
				height: 100%;
			}
			.ingredientes_extra {
				border-left: 1px solid $color_cafe;
				overflow: auto;
				width: 50%;
				height: 100%;
			}
		}
		.descripcion_comida {
			overflow: auto;
			border-top: 1px solid $color_cafe;
			width: 100%;
			height: 30%;
			padding: 1em;
		}
	}
}

.opacidad {
	transition: ease 0.85s all;
	z-index: 2;
	width: 100vw;
	height: 100vh;
	position: absolute;
	background: #ffffff8f; //PRODUCCCION
	// background: rgba(39, 141, 93, 0.562); //Desarrollo

	right: 0;
	top: 0;
}
.recorrer_ventana {
	transition: ease 0.85s all;
	transform: translateX(250%);
}
